{% extends "base.html.twig" %}

{% block title %}Transaction{% endblock %}

{% block body %}

    <h1>Achat</h1>
    <h2>Air Liquid</h2>
    <p>
        <i>3 x 100,05 = 300.15</i>
        <p><u>PEA Boursorama</u></p>
    </p>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum repellat possimus mollitia, asperiores fugit fugiat consequatur quia! Eius distinctio aspernatur omnis libero. Nostrum tempora accusamus et esse, sit eos expedita.</p>

{% endblock %}