<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <a class="navbar-brand" href="{{ path('home') }}">
        <i class="fas fa-dice-d20"></i>&nbsp;FacilEpargne</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% block budget_active %}{% endblock %}" href="{{ path('budget')}}">
                    <i class="fas fa-balance-scale"></i>&nbsp;Budget
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'saving' ? 'active' }}" href="{{ path('saving')}}" >
                    <i class="fas fa-chart-line"></i>&nbsp;Savings
                </a>
            </li>
            <li class="nav-item dropdown">
                <!-- Rend le menu Tradind 'active' si n'importe quel sous-menu a été appelé grâce à l'opérateur ternaire -->
                <a class="nav-link dropdown-toggle {{ app.request.get('_route') == 'trading' ? 'active' : 
                                                      app.request.get('_route') == 'trading_transactions' ? 'active' :
                                                      app.request.get('_route') == 'currencies' ? 'active'}}"
                        href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-archway"></i>&nbsp;Trading
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('trading')}}">
                        <i class="fas fa-archway"></i>&nbsp;Trading summary
                    </a>
                    <a class="dropdown-item" href="{{ path('trading_transactions')}}">
                        <i class="fas fa-list"></i>&nbsp;Trading Transactions
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('currencies') }}">
                        <i class="fas fa-dollar-sign"></i>&nbsp;Currencies
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'life_insurance' ? 'active' }}" href="{{ path('life_insurance')}}" >
                    <i class="fas fa-chart-area"></i>&nbsp;Life Insurance
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'precious-metal' ? 'active' }}" href="{{ path('precious_metal')}}" >
                    <i class="fas fa-coins"></i>&nbsp;Precious Metals
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'tax' ? 'active' }}" href="{{ path('tax')}}" >
                    <i class="fas fa-cash-register"></i>&nbsp;Taxes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.get('_route') == 'real_estate' ? 'active' }}" href="{{ path('real_estate')}}" >
                    <i class="fas fa-building"></i>&nbsp;Real Estate
                </a>
            </li>
        </ul>
        <div class="">
            {% if app.user %}
                <ul class="navbar-nav my-2 my-lg-0 ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfil" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ app.user.picture }}" class="avatar avatar-min mr-1" alt="Avatar du profil">{{app.user.fullname}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfil">
                            <a class="dropdown-item" href="{{ path('account_index') }}">
                                <i class="fas fa-user"></i>&nbsp;Mon profil
                            </a>
                            <a class="dropdown-item" href="{{ path('account_password') }}">
                                <i class="fas fa-list"></i>&nbsp;Modifier mon mot de passe
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('account_logout') }}">
                                <i class="fas fa-dollar-sign"></i>&nbsp;Déconnection
                            </a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <div class="btn-group">
                    <a href="{{ path('account_register') }}" class="btn btn-sm btn-outline-warning btn-primary">Inscription</a>
                    <a href="{{ path('account_login') }}" class="btn btn-sm btn-outline-warning btn-primary">Connection</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>