{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullname }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-3 text-center">
                <img src="{{user.picture}}" class="avatar mb-3" alt="avatar de {{user.fullname}}">
                <br>
                <span class="badge badge-primary">{{user.accountingMonths | length}} mois comptables</span>
            </div>
            <div class="col-9">
                <h1>{{user.fullname}}</h1>
                {% if user is same as (app.user) %}
                    <div class="mt-3">
                        <a href="{{ path('account_profile') }}" class="btn btn-primary mr-2 mb-2"><i>Modifier mes informations</i></a>
                        <a href="{{ path('account_password') }}" class="btn btn-primary mb-2"><i>Modifier mon mot de passe</i></a>
                    </div>
                {% endif %}
            </div>
        </div>
        {{user.description | raw}}
        <hr>
        <h2>Les mois comptables de {{user.fullname}}</h2>
        {% if user.accountingMonths|length > 0 %}
            <div class="row">
                {% for accountingMonth in user.accountingMonths %}
                    {% include 'budget/_card-accountingmonth.html.twig' %}
                {% else %}
                    <div class="alert alert-warning">
                        <p>
                            Il n'y a pas encore d'opération dans ce mois-là.
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">
                <p>
                    <strong>{{user.fullname}}</strong> n'a pas encore de mois comptable
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
