{% extends "budget/base-budget.html.twig" %}

{% block title %}Opérations du mois{% endblock %}

{% block budget_active %}active{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>Opération du mois en cours</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <a href="{{ path('operation_create') }}">
                    <button type="button" class="btn btn-sm btn-outline-primary">
                        <i class="fas fa-plus"></i>&nbsp;Ajouter
                    </button>
                </a>
            </div>
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">Libellé</th>
                    <th scope="col">Date</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Membre</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Détails</th>
                </tr>
            </thead>
            <tbody>
                {% for operation in accountingMonth.operations %}
                <tr>
                    <th scope="row">{{ operation.name }}</th>
                    <td>{{ operation.createAt|date('d/m/Y') }}</td>
                    <td>{{ operation.category.name }}</td>
                    <td>{{ operation.familyMember }}</td>
                    <td>
                        {% if operation.amount < 0 %}
                            <i class="fas fa-arrow-down" style="color : red"></i>&nbsp;
                            {{ (operation.amount / -100)|number_format(2, '.', ',')}} €
                        {% else %}
                            <i class="fas fa-arrow-up" style="color : green"></i>&nbsp;
                            {{ (operation.amount / 100)|number_format(2, '.', ',')}} €
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('operation_show', {'id' : operation.id} )}}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                <i class="fas fa-info"></i>&nbsp;Info
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}