<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FacilEpargne{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <script src="https://kit.fontawesome.com/30b3f21c76.js" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Header -->
        {{ include('partials/_header.html.twig') }}
        <!-- /Header -->

        <!-- Body -->
        <div class="container-fluid">
            <div class="row no-gutters row-full-height">
                <div class="col">
                    <div class="container">
                        <!-- Permet d'afficher des pop-up de succès juste avant l'affichage de notre page -->
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /Body -->
        
        <!-- Footer -->
        {{ include('partials/_footer.html.twig') }}
        <!-- /Footer -->

        <!-- Javascript -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
        <!-- /Javascript -->
    </body>
</html>
